body, html {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-tabs a {
    cursor: pointer;
}

.card {
    margin-top: 20px;
}

.card-header {
    padding: 20px 0;
}

.card-body {
    background: #eee none repeat scroll 0 0;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

form#login {
    padding: 25px 25px 45px;
    position: relative;
}

input#username, input#password {
    width: calc(100%-12px);
    line-height: 35px;
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
}

button#btnlogin,
button#btn-modal {
    width: 100%;
    line-height: 25px;
}

button#btnlogin {
    margin: 15px 0 0 0!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.open-button {
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 100px;
    height: 60px;
    width: 60px;
}
  
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.card-block button#silang {
    padding: 0.5em;
    float: right;
}

.text-area {
    overflow: auto;
    height: 40vh;
    background-color: #fff;
    margin-bottom: 20px;
}

#images {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.was-validated {
    display: block;
    right: 1em;
}